<div class="reset-password-container">
  <h2>Réinitialiser votre mot de passe</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Adresse Email</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched">
        Une adresse email valide est requise.
      </div>
    </div>
    <div>
      <label for="password">Nouveau Mot de Passe</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
        Un mot de passe valide est requis (min. 6 caractères).
      </div>
    </div>
    <div>
      <label for="repeatPassword">Confirmez le Mot de Passe</label>
      <input type="password" id="repeatPassword" formControlName="repeatPassword" />
      <div *ngIf="resetPasswordForm.get('repeatPassword')?.invalid && resetPasswordForm.get('repeatPassword')?.touched">
        Ce champ est requis.
      </div>
    </div>
    <button type="submit" [disabled]="isSubmitting">Réinitialiser</button>
  </form>
  <p *ngIf="message" [ngClass]="{ 'success': isSubmitting, 'error': !isSubmitting }">{{ message }}</p>
</div>
